# =========================
# AWS GLUE - JOB 1 (API -> CSV)
# =========================

GLUE_JOB_API_TO_CSV_ARN=
GLUE_JOB_API_TO_CSV_NAME=
GLUE_JOB_API_TO_CSV_SCRIPT_S3_URI=

# =========================
# AWS GLUE - JOB 2 (CSV -> DB)
# =========================

GLUE_JOB_CSV_TO_DB_ARN=
GLUE_JOB_CSV_TO_DB_NAME=
GLUE_JOB_CSV_TO_DB_SCRIPT_S3_URI=


# =========================
# AWS GLUE - JOB 3 (sales )
# =========================

GLUE_JOB_sales_ARN=
GLUE_JOB_sales_NAME=
GLUE_JOB_sales_S3_URI=

# =========================
# GLUE ROLE
# =========================

GLUE_ROLE_ARN=
GLUE_ROLE_NAME=




# =========================
# S3 BUCKETS
# =========================

OUTPUT_BUCKET_ARN=
OUTPUT_BUCKET_NAME=

SCRIPTS_BUCKET_ARN=
SCRIPTS_BUCKET_NAME=



# =========================
# INTERNAL / IDENTIFIER
# =========================

RANDOM_SUFFIX=

API_URL=https://dummyjson.com/products

OUTPUT_PREFIX=products/processed
OUTPUT_FILE_NAME=catalog.csv

INPUT_BUCKET_NAME=databucket53
INPUT_KEY_NAME=products/catalog.csv



# =========================
# DATABASE (RDS)
# =========================

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_TABLE=products_clean
